@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: auto;
    height: 100vh;
    min-width: 245px;
    max-width: 800px;
    background-color: red;
    background-image: url('wallpaper002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    margin: auto;
}
h1{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px black;
}
div {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    margin: 15px;
}
h2{
    text-align: center;
    margin-bottom: 15px;
}
p{
    text-indent: 20px;
    text-align: justify;
}