body{
    margin: 1%;
    background-color: rgb(60, 60, 60);
}
h1{
    font-size: 20px;
    text-align: center;
    color: white;
    width: 100%;
}
table{
    margin-left: auto;
    margin-right: auto;
}
img.menuPrincipal{
    width: 180px;
    height: 100px;
    border-radius: 10px;
}
img.botao{
    width: 40px;
    height: 40px;
}
div{
    text-align: center;
}
p{
    font-size: 10px;
    color: white;
}
a{
    color: white;
}
iframe.videos{
    
    margin-left: auto;
    margin-right: auto;
}