@charset "UTF-8";
body{
    margin: 20px;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: rgb(133, 65, 65);
}
h2{
    text-align: center;
    display: block;
    height: 30px;
    width: 180px;
    color: aquamarine;
    padding: 10% solid;
    background-color: grey;
    border: 10px solid red;
    outline: 10px solid  blue;
    margin: auto;
}

