@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
#Container {
    position: relative;
    height: 500px;
    background-color: purple;
    background-image: url('target001.png');
    background-size: 100% 100%;
    height: 100vh;
}
#conteudo {
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;
    background-image: url('target001.png');
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}
