@charset "UTF-8";
div#grande{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: justify;
    height: 200px;
    width: 610px;
    font-size: 22px;
    text-align: center;
}
div{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
}
br {
    content: "";
    margin: 16px;
    display: block;
    font-size: 24%;
}
/*Pseudo-classes

    div:hover-quando passa o rato por cima da div
*/
div:hover{
    background-color: yellow;
}

/*Paragrafos dentro de div ficam escondidos*/
div > p{
    display: none;
    color: brown;
}
/*Paragrafos dentro de div ficam a mostra quando passa por cima o rato*/
div:hover > p {
    display: block;
}