@charset "UTF-8";

@font-face {
    font-family: 'Chomsky';
    src: url('fonte/Chomsky.otf');
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Chomsky', Times, serif;
    font-size: 3em;
}
