@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;  /*view port*/
    background-image: url('https://assets.stickpng.com/images/58428cc1a6515b1e0ad75ab1.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center center;
}