@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;  /*view port*/
    background-image: url('imagem.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center center;
}