body{
    background-color: #e8e6e7;
}
h1{
    color: #915a3c;
    text-align: center;
}
h2{
    color: #2b4b46;
    text-align: left;
}
h4{
    color: #3c5f5a;
}
p{
    color: #4c7972;
    text-align: justify;
}