@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 400px;
    height: 400px;
    /*border-collapse: separate; --> Por padrão*/
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 8px;
    background-color: grey;
    color: white;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /*Alinhamento horizontal*/
    vertical-align: middle; /*Alinhamento vertical (top, middle botton)*/  
}

.numero{
    text-align: right;
}