@charset "UTF-8";
@import url();
/* 
Medidas Absolutas 
    cm, mm, in ,px, pt, pc

Medidas Relativas
    em, ex, rem, vw, vh, %

Usar px ou em recomendado (16px por default)
    16px = 1em
*/

/* lighter normal bold bolder*/


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;  
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 48px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
h2{
    font: italic 32px Arial, Helvetica, sans-serif;
}






