@charset "UTF-8";
/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(148, 79, 0, 1); }
.My-Color-Theme-2-rgba { color: rgba(255, 148, 25, 1); }
.My-Color-Theme-3-rgba { color: rgba(224, 121, 0, 1); }
.My-Color-Theme-4-rgba { color: rgba(0, 104, 148, 1); }
.My-Color-Theme-5-rgba { color: rgba(0, 158, 224, 1); }
