@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}
h1{
    font-family: 'Silkscreen', cursive;
}
h3{
    font-family: 'EB Garamond', serif;
}
p{
    font-family: 'EB Garamond', serif;
}