@charset "UTF-8";

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}
.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
li {
    display:block;
}
li::before{
    content: ' \2714';
}