@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

:root{
    --cor0: var(--cor0);
    --cor1: #3CD782;
    --cor2: #1A5C38;
    --cor3: #ffffff;
    --cor4: #1a5c3800;
    --cor6: #000000;
    --cor7: #36c2758a;
    --cor8: #3cd78265;
    --cor9: #36c275;
}

html{
    width: 100%;
}
body{
    background-color: var(--cor0);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
header{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    margin-top: 0px;
    width: 100%;
}
header > h1{
    text-align: center;
    color: var(--cor3);
    padding-top: 20px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
header > p{
    text-align: center;
    color: var(--cor3);
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
header > nav{
    background-color: var(--cor4);
    padding-bottom: 5px;
}
nav > a{
    padding: 5px;
    color: var(--cor3);
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
main > section{
    background-color: var(--cor3);
    color: var(--cor2);
    padding-left: 20px;
    padding-right: 20px;
}
main > section > h2{
    font-family: 'idroid', Times, serif;
    text-indent: 16px;
    text-align: left;
    background-color: var(--cor3);
    margin-top: 0px;
    padding-top: 20px;
}
main > section > p{
    text-indent: 16px;
    text-align: justify;
    font-size: 12px;
}

main > article{
    background-color: var(--cor3);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
main > article > h3{
    color: --cor2;
    font-family: 'idroid', Times, serif;
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    text-align: left;
    text-indent: 16px;
    margin-top: 0px;
}
main > article > p{
    text-align: justify;
    text-indent: 16px;
    font-size: 12px;
}
article > article{
    padding-left: 20px;
    padding-right: 20px;
}
article > article > h6{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 16px;
}
article > article > p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 16px;
    padding-top: 16px;
    font-size: 12px;
}
article > article > article{
    width: 50%;
    margin-left:0px;
    margin-right: 0px;
    padding-left: 0px;
    text-align: left; 
}
article > article > article > ol{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-left: 0px;
}
ol > li{
    padding: 0px;
    margin: 0px;
    font-size: 8px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}
li > a{
    color: var(--cor6);
    min-width: 250px;
}
footer{
    margin-top: 20px;
    background-color: var(--cor2);
    text-align: center;
    color: var(--cor3)
}
footer > p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.articleTitulo{
    background-color: var(--cor9);
    border-radius: 5px 5px 0px 0px;
    color: var(--cor3);
    font-size: 25px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}
.articleConteudo{
    background-color: var(--cor8);
    border-radius: 0px 0px 5px 5px;
    text-align: justify;
}
.articleUltimo{
    border-radius: 0px 0px 5px 5px;
}
.ultimoParagrafo{
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.paragrafoRetiraEspacoTop{
    margin-top: 0px;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 56.25%; 
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.listaCentrada{
    width: 100%;
    min-width: 50%;
}
.retiraMarginOl{
    margin-bottom: auto;
}

li::before{
    content: ' \2714';
}
nav > a:hover{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--cor7);;
    border-radius: 5px;
    background-color: var(--cor7);;
}

