@charset "UTF-8";
html{
    width: 100%;
}
body{
    background-color: #84E1AD;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-image: linear-gradient(to bottom, #3CD782, #1A5C38);
    margin-top: 0px;
    width: 100%;
}
header > h1{
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
header > p{
    text-align: center;
    color: white;
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
header > nav{
    background-color: #1a5c3800;
}
a{
    color: white;
    margin-left: 14px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
main > article{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin-left: 10px;
    margin-right: 10px;
}


.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}
.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
li {
    display:block;
}
li::before{
    content: ' \2714';
}