@charset "UTF-8";

@font-face {
    font-family: 'PassionOne-Bold';
    src: url('fontes/PassionOne-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'PassionOne-Bold';
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
}
body.normal{
    min-width: 245px;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
p > a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
section > p {
    font-family: var(--fonte3);
    font-size: 3vw;
}
section.normal {
    color: black;
    background-color: white;
    padding-left: 30px;
}
section.normal > p{
    background-color: (0,0,0,0.253);
}
section.imagem{
    color: white;
    background-color: black;
    padding-left: 20px;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.500);
    padding-left: 10px;
}
section.imagem#imagem1 {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('imagens/background001.jpg');
}
section.imagem#imagem2 {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('imagens/background002.jpg');
}
footer {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vh;
}