@charset "UTF-8";

@font-face {
    font-family: 'PassionOne-Bold';
    src: url('fontes/PassionOne-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body.normal{
    min-width: 245px;
}
header {
    background-color: black;
    color: white;
    padding-top: 60px;
    padding-bottom: 40px;
}
header > h1 {
    text-align: center;
    font: normal bold 90px 'PassionOne-Bold', Times, serif;
}
header > p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
}
p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
p > a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
section.normal {
    position: relative;
    height: 100vh;
    background-size: 100% 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 500px;
    color: black;
    background-color: white;
}
section.normal > p{
    position: absolute;
    height: 300px;
    top:50%;
    transform: translate(0%, -50%);
    background-color: white;
    font-family: 'Passion One', cursive;

}

section.imagem{
    padding-left: 20px;
    padding-right: 30px;
    height: 500px;
    position: relative;
}
section.imagem > p{
    position: absolute;
    height: 300px;
    top: 50%;
    transform: translate(0%, -50%);
    box-shadow: 5px 5px 5px #00000098;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding: 10px;
    font-family: 'Passion One', cursive;
}
section.imagem#imagem1 {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('imagens/background001.jpg');
}
section.imagem#imagem2 {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('imagens/background002.jpg');
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
}